.hero-section-title,
.hero-section-img {
    width: 50%;
}
.title {
    font-size: 50px;
}
.hero-section-btn{
    width: 25%;
}
@media screen and (max-width: 576px) {

    .hero-section-title,
    .hero-section-img {
        width: 100%;
    }

    .title {
        font-size: 25px;
    }
    .hero-section-btn{
        width: 50%;
    }
}